<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Identificació</h2>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" required id="id_username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" required id="id_password">
        </p>
        <button type="submit">Login</button>
    </form>
</body>
</html>
